*{padding: 0px;
    margin: 0;
    box-sizing: border-box;}
    :root {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    
    
    
    .container {
        width: 1140px;
        margin: auto;
        max-width: 100%;
    }
    
    
    
    body {
    font-family: var(--fonte-principal);
    }
    
    #nav {
        background-color: rgb(93, 137, 163);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #nav ul li{
        list-style: none;
        display: inline;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px; /*desgruda*/
        font-size: 30px;
    }
    
    #nav ul#menu li {
        float: left;
        border-radius: 8px;
    }
    
    #nav ul.right li {
        float: right;
    }
    
    .clearfix::before,
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }
    
    #nav ul li a {
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        text-decoration: none;
    }
    
    #nav ul#menu li.active {
        background-color: rgb(69, 103, 121);
    }
    
    #nav ul#menu li:hover {
        background-color: rgb(69, 103, 121);
    }
    
    .container {
        width: 1140px;
        margin: auto;
        max-width: 100%;
    }
    .clearfix::before,
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }
    [class*="col-"] {
        float: left;
        padding-left: 5px;
    }
    
    /*Grid com 12 colunas*/
    .col-1 {width: 8.33%; }
    .col-2 {width: 16.66%}
    .col-3 {width: 25%} 
    .col-4 {width:  33.33% }
    .col-5 {width: 41.66%}
    .col-6 {width: 50%}
    .col-7 {width: 58.31%}
    .col-8{width: 66.66% }
    .col-9{width: 74.97%}
    .col-10 {width: 83.3%}
    .col-11{width: 91.63%}
    .col-12{width: 100%}
    
    img{
        width: 100%;
    }
    
    img.img-ajuste {
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }
    
    .img-logo{ border-radius: 50%; width: 300px; padding-bottom: 60px;}
    #historia {padding-top: 90px; background-color: rgb(127, 189, 218); }
    
    .col-6 P {background-color: rgb(253, 248, 241); border-radius: 7PX;padding: 20PX; padding-top: 50px; padding-bottom: 50;}
    h1{
        text-align: center;
    }
    
    
    .gallery {
        display: flex;
        align-items: center;
        column-gap: 5px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    
    .gallery_item {
     scroll-snap-align: center;  
     min-width: 35%; 
    }
    .gallery_image{
        width: 400px;
        height: auto;
        object-fit: cover;
    }
    #ambiente-geral{background-color: rgb(255, 244, 230); border-radius: 8px; padding-left: 20px; padding-right: 20px;}
    #ambiente-geral h1 { color: rgb(127, 189, 218);}
    .comidas img {width: 450px; background-color: antiquewhite; padding: 10px; border-radius: 5px;}
    .comidas{ text-align: center;}
    .comidas h1 {color: antiquewhite;}
    .comidas h3 {color: antiquewhite;}
   .comidas hr {size: 10px; width: 50%; text-align:"center"}
   fieldset {
    border-top: 6px solid rgb(253, 251, 229);
     border-bottom: none;
     border-left: none;
     border-right: none;
     display: block;
     text-align: center;
 }
 
 fieldset legend {
     padding: 5px 10px;
 }
 body{ background-color: rgb(127, 189, 218);}
 .menu{padding-top: 200px;
background-color: rgb(127, 189, 218);}
 .menu img {width: 400px; border-radius:10px; margin-left: 50px;}
 .menu h1{ color: rgb(127, 189, 218); background-color: rgb(255, 250, 244);
     padding: 10px; 
    border-radius: 10px;
     padding-bottom: 155px; 
     padding-top: 170px;
     margin-left: 200px;
     
    }
    #foot {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu{padding-bottom: 500px;}
    #foot ul li{
        list-style: none;
        display: inline;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px; /*desgruda*/
        font-size: 30px;
        
        
    }
    
    #foot ul#footer li {
        float: left;
        border-radius: 8px;
    }
    
    #nav ul.right li {
        float: right;
    }
    #foot ul li a {
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        text-decoration: none;
    }
     .informations{
        background-color: rgb(93, 137, 163);
    }